<!DOCTYPE html>
<html> 
    <head>
    <meta charset="utf-8">
    <title>Dog Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <!-------------------------------------------------------------------------//Head----------------------------------------------------------------->
        <body style="background-image:url('dog.png');background-size'750px 600px">
        <div class="col-sm-12">
            <div class="w3-container" align="center">
                <div style="width:350px;height:320px;margin-top:100px;background-color:white;outline-style:solid;outline-color:black;opacity:0.9">
                    <h3>User Registration</h3>
                    <form action="user_register" method="post">
                        <div class="input-group mb-2 pl-3 mt-5 pr-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <input class="form-control" id="inlineFormInputGroup" type="text" placeholder="Enter Username" name="username" required >
                        </div>
                         <div class="input-group mb-2 pl-3 mt-5 pr-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-lock" ></i>
                                </div>
                            </div>
                            <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Enter Password" name="password" required >
                         </div>
                        <div class="container" style="margin-top:40px;margin-left:-30px">
                        <a href="login" style="font-size:18px;padding:10px;" >Back</a>
                        <button style="padding: 10px 40px;"class="btn btn-primary" type="submit1" class="signupbtn1">Register</button><br><br>
                        <div>                    
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
